html, body {
    height: 100%;
    margin: 0;
}

#cy {
    background-color: #e9ecef; /* Juste pour visualiser l'espace */
}








#sideTab {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw; /* 25% de la largeur de l'écran */
    height: 100vh; /* Prend toute la hauteur de l'écran */
    background-color: rgb(198, 198, 198); /* Pour visualiser la zone */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

h1{
    display: inline-block;
    background-color: yellow;
    border: 0.4vmin solid rgb(0, 0, 0);
    border-radius: 100%;
    width: 10vmin;
    height: 10vmin;
    align-content: center;
    text-align:center;
    margin: 1vmin;
}
.green{
    background-color: green;
}
div{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: aliceblue;
    border: 0.2vmin solid black;
}

/* Bouton en haut à gauche 
.open-modal-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}*/

/* Fenêtre modale */
/*.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
*/

/* Style pour la fenêtre modale */
.modal-content {
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
  
  .modal-title {
    font-size: 1.25rem;
    color: #007bff;
  }
  
  .modal-body {
    font-size: 1rem;
  }
  
  .modal-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .close-btn {
    background-color: #6c757d;
    color: white;
    padding: 8px 16px;
  }
  
  .close-btn:hover {
    background-color: #5a6268;
  }

